<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
    
    <body>
        {{> header}}

        <p>my projects will show up here</p>

        {{> footer}}
    </body>
    
</html>